:root {
  --main-bg-color: #19181b;
  --bg-color-agendar-aside: #282829;
  --title-color: #ffffff;
  --sub-title-text-color: #dadada;
  --text-color: #bdbdbd;
  --website-environment-color: #b89e49;
  --title-size: 24px;
  --sub-title-text-size: 14px;
  --text-size: 16px;
  --spacing: 0.25rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: sans-serif;
}

.Title {
  color: var(--title-color);
  font-size: var(--title-size);
}

.SubTitle {
  color: var(--sub-title-text-color);
  font-size: 16px;
}

.Text {
  color: var(--text-color);
}

.Text-bold {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 5px;
}

.Container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
  padding: 10px;
  min-height: 100vh;
}

.Container-left {
  background-color: var(--bg-color-agendar-aside);
  padding: 40px 90px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.image-card img {
  position: relative;
  width: 150px;
  height: 60px;
  padding: 10px;
  top: -40px;
  left: -95px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 16px;
  background-color: #383838;
}

.Container-left-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.label-hour {
  color: var(--text-color);
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgb(48, 47, 47);
  border: solid;
  border-color: rgba(95, 95, 95, 0.178);
  border-radius: 10px;
  cursor: pointer;
}
.label-hour:hover {
  background-color: rgb(54, 54, 54);
}

.Agendamento {
  text-align: start;
}

.Horario {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.Agendar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Input-date,
.Input-agendar-nome {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #4d4d4e;
  border-radius: 8px;
  color: white;
  margin-top: 8px;
}

.Button-agendar {
  width: 100%;
  padding: 20px;
  background-color: var(--website-environment-color);
  border: none;
  border-radius: 8px;
  color: #19181b;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
}

.Button-agendar:hover {
  opacity: 0.9;
}

.radio-button {
  display: none;
}

/* --- MEDIA QUERY --- */
@media (max-width: 768px) {
  .Container {
    grid-template-columns: 1fr;
  }

  .Container-left {
    height: auto;
    padding: 20px;
  }

  .Container-rigth {
    padding: 20px;
  }
}
